* {
    box-sizing: border-box;
    /* margin: 0; */
}

body {
    margin: 0;
}

.mt {
    margin-top: 70px;
}

button {
    background: linear-gradient(#e02d00, #ff8800);
    color: #fff;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
}

span {
    color: #ff6600;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
    color: rgb(104, 104, 104);
}

a {
    color: #fff;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    display: flex;
    padding-left: 7%;
    background-color: #029eb5;
    color: #fff;
    align-items: center;
}

.logo {
    font-size: 40px;
    color: #ff6600;
}

.navbar ul {
    display: flex;
    margin-left: 54%;
    list-style-type: none;
}

.navbar ul li a {
    padding: 10px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

#header {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-top: 130px;
}

.half-width {
    width: 60%;
}


.half-width-1 {
    width: 40%;
}

.half-width-1 img {
    width: 350px;
    height: 500px;
    border-radius: 10px;
}


/* About */

#about {
    background-image: url('./images/food-bg.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-container {
    display: flex;
    margin-left: 7%;
    margin-right: 10%;
    padding: 70px 0;
    color: #fff;
}

.about-container p {
    font-family: 'Philosopher', sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.about-img img {
    width: 90%;
    height: 85%;
    margin-top: 20px;
    border: 3px solid #fff;
    border-radius: 10px;

}

/*  */

.recipe-header {
    text-align: center;
}

.recipe-container {
    display: flex;
    margin-left: 7%;
    flex-wrap: wrap;
}

.col-4 {
    width: 33.33%;
}

.card {
    width: 320px;
    height: 490px;
    background-color: #fff;
    margin-right: 40px;
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(51, 51, 51, 0.335);
}

.card-img {
    text-align: center;
}

.card-img img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

/* Social container  */

.social-followers-container {
    display: flex;
    width: 1160px;
    margin-left: 7%;
    background-color: #fff;
    border-left: 8px #ff8800 solid;
    text-align: center;
    box-shadow: 0 0 10px 2px rgba(51, 51, 51, 0.335);
}

/* Footer */

footer {
    height: 200px;
    background-color: #333;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

footer p {
    color: white;
}

.heart {
    color: #e02d00;
}